<% rows.forEach(function(row) { %>
<tr>
    <% row.forEach(function(photo) { %>
        <td>
            <div class="rosterImage" style="background: url(data:image/png;base64,<%= photo.PictureIdentification %>) center center no-repeat"></div>
            <a href="<%= photo.canvasProfileUrl %>"><p class="studentInfo"><%= photo.LastName %>, <%= photo.FirstName %><br/>
            <%= photo.SfuId %></p></a>
        </td>
    <% }); %>
</tr>
<% }) %>