<h3><%=: course.instructor.length | pluralize: 'Instructor' %></h3>
<div class="instructorList overviewList clearfix">
<ul>
  <% course.instructor.forEach(function(instructor) { %>
    <% if { instructor.roleCode && instructor.roleCode === 'PI' } %>
    <li>
      <div class="left instructorImage">
        <img src="<%= instructor.canvas.avatar_url %>" alt="<%= instructor.canvas.name %> Profile Photo">
      </div>
      <div class="left instructorProfile">
        <h4><%= instructor.name %></h4>
        <% if (instructor.canvas) { %>
        <a href="<%= course.canvas.courseUrl %>/users/<%= instructor.canvas.id %>" target=_parent>Canvas Profile</a><br>
        <% } %>
        <% if (instructor.canvas.message_user_path) { %>
        <a href="https://canvas.sfu.ca<%= instructor.canvas.message_user_path %>">Send Canvas Message</a><br>
        <% } %>
        <a href="mailto:<%= instructor.email %>"><%= instructor.email %></a>
        <% if (instructor.phone) { %>
        <br>
        <%= instructor.phone %>
        <% } %>
      </div>
    </li>
    <% } %>
  <% }) %>
  </ul>
</div>
