<% 
var principalInstructors = [];
course.instructor.forEach(function(instructor) { 
    if (instructor.roleCode && instructor.roleCode === 'PI') {
        principalInstructors.push(instructor);
    }
});

var avatarUrl = function(instructor) {
    return (instructor.canvas && instructor.canvas.avatar_url) ? instructor.canvas.avatar_url : 'https://i1.wp.com/canvas.sfu.ca/images/messages/avatar-50.png?ssl=1';
};
%>

<h3><%=: principalInstructors.length | pluralize: 'Instructor' %></h3>
<div class="instructorList overviewList clearfix">
<ul>
  <% principalInstructors.forEach(function(instructor) { %>
    <li>
      <div class="left instructorImage">
        <img src="<%= avatarUrl(instructor) %>" alt="<%= instructor.name %> Profile Photo">
      </div>
      <div class="left instructorProfile">
        <h4><%= instructor.name %></h4>
        <% if (instructor.canvas) { %>
        <a href="<%= course.canvas.courseUrl %>/users/<%= instructor.canvas.id %>" target=_parent>Canvas Profile</a><br>
        <% } %>
        <% if (instructor.canvas && instructor.canvas.message_user_path) { %>
        <a href="https://canvas.sfu.ca<%= instructor.canvas.message_user_path %>">Send Canvas Message</a><br>
        <% } %>
        <a href="mailto:<%= instructor.email %>"><%= instructor.email %></a>
        <% if (instructor.phone) { %>
        <br>
        <%= instructor.phone %>
        <% } %>
      </div>
    </li>
  <% }) %>
  </ul>
</div>
